<div class="main">
    <h1>FAQ - Frequently Asked Questions</h1>

    <p>
    Q: How do I Signup? <br />
    A: Click on the signup button in the upper right corner. A signup-form pops up and you can fill in your login credentials
    </p>
    <p>
    Q: I can't register! What am I doing wrong?<br />
    A: A message is displayed what happened wrong and there are multiple possibilities:<br />
    </p>
        <ul>
            <li>
                "Account already exists!": Someone already registered this email in our database. Please use a different one or login<br />
            </li><li>    
                "Username or Password is missing!": You either left out the email address or one of the password fields. Please use the guidelines provided by the input fields and enter valid database<br />
            </li><li>
                "Error creating new account!": This happens when currently the servers can't respond or find the data in the database. Please stand by, we will fix it soon.
            </li>
        </ul>
        <br />
    <p>
    Q: I still can't register. Am I connected to the internet? <br />
    A: Click on this hyperlink to find out: <a href="https://ismyinternetworking.com/" target="_blank">https://ismyinternetworking.com/</a>
    </p>
    <p>
    Q: Can I play this on Windows? <br />
    A: Don't use Windows. But yes. 
    </p>
    <p>
    Q: How do I play?<br />
    A: First you have to login with your account. If you don't have one, please register in the signup form. then select your puzzle by pressing either puzzle 1 or puzzle 2. After that, press the start button and have fun!
    </p>
    <p>
    Q: I finished my first game, can I play another one? <br />
    A: Of course! just press the play button again and start another puzzle.
    </p>
    <p>
    Q: How can I view the highscores for the puzzle I just completed? <br />
    A: There is a button called Highscores that links you to the current highscores.
    </p>
    <p>
    Q: How do I post a highscore?<br />
    A: You can submit your last highscore in the tab highscores in the .. corner
    </p>
    <p>
    Q: I accidentally clicked on n game, is my old highscore gone?<br />
    A: Yes. But if you are the real master, I'm sure you can do it again right?
    </p>
    <p>
    Q: How do I logout? <br />
    A: You can logout by pressing the logout button. Once pressed, the signup button and the login button should apprear on the top right corner again.
    </p>
    <p>
    Q: Do I have to login every time?<br />
    A: No, you just have to enable cookies and we will be able to identify you, making it for you easier to play your puzzle games.
    </p>
</div>