<mat-toolbar>
    <a routerLink="/"><img src="./assets/logo.png" class="logo" /></a>
    <span>FHTW Puzzle Game</span>
    <div fxShow="'true'" fxHide.lt-md="'true'">
      <a mat-raised-button color="accent" type="button" routerLink="/highscores">Highscores</a>
      <a mat-raised-button color="primary" type="button" routerLink="/">Play Puzzle</a>
      <a mat-raised-button color="primary" type="button" routerLink="/faq">FAQ</a>
    </div>
      <span class="spacer"></span>
    <div fxShow="'true'" fxHide.lt-md="'true'">
      <a mat-raised-button color="primary" type="button" routerLink="/login" *ngIf="!this._auth.loggedIn">Login</a>
      <button mat-raised-button color="warn" type="button" (click)="this._auth.logout()" *ngIf="this._auth.loggedIn">Logout</button>
      <a mat-raised-button color="primary" type="button" routerLink="/profile" *ngIf="this._auth.loggedIn">Profile</a>
      <a mat-raised-button color="primary" type="button" routerLink="/signup" *ngIf="!this._auth.loggedIn">Sign Up</a>
    </div>
    <div fxShow="true" fxHide.gt-sm="true">
      <a (click)="sidenav.toggle()">
        <button mat-icon-button color="accent" aria-label="Menu">
          <mat-icon>menu</mat-icon>
        </button></a>
    </div>
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav #sidenav fxLayout="column" mode="side" opened="false">
    <div fxLayout="column">
      <a mat-button routerLink="/">Play Puzzle</a>
      <a mat-button routerLink="/highscores">Highscores</a>
      <a mat-button routerLink="/faq">FAQ</a>
      <br />
      <a mat-button routerLink="/login" *ngIf="!this._auth.loggedIn">Login</a>
      <a mat-button routerLink="/signup" *ngIf="!this._auth.loggedIn">Sign Up</a>
      <a mat-button routerLink="/profile" *ngIf="this._auth.loggedIn">Profile</a>
      <button mat-button (click)="this._auth.logout()" *ngIf="this._auth.loggedIn">Logout</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
