mat-grid-list {
  max-width: 453px;
  margin-right: auto;
  margin-left: auto;
}

.game {
  text-align: center;
  margin-top: 20px;
}

.selected {
  filter: brightness(0.5);
}

.clock,
.start {
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  width: 300px;
  margin: 20px auto;
}

button {
  margin: 10px;
}

.clock {
  font-size: 30px;
}
