<mat-card>
    <mat-spinner *ngIf="!this.puzzle1Loaded || !this.puzzle2Loaded"></mat-spinner>
    <div class="main" *ngIf="this.puzzle1Loaded && this.puzzle2Loaded">
        <h1>
            Highscores
        </h1>
        <div class="scores">
            <ol>
                <li *ngFor="let score of highScores | slice:0:10">
                    {{score.email}} | {{score.value}}
                </li>
            </ol>
        </div>
        
    <button mat-raised-button color="{{ this.puzzle == 1 ? 'primary' : 'basic' }}" type="button" (click)="changePuzzle(1)">Puzzle 1</button>
    <button mat-raised-button color="{{ this.puzzle == 2 ? 'primary' : 'basic' }}" type="button" (click)="changePuzzle(2)">Puzzle 2</button><br />
    <a mat-raised-button color="basic" type="button" routerLink="/">Back to game</a>
    </div>
</mat-card>