a {
  margin: 0 1em;
}

.main {
  text-align: center;
}

.scores {
  text-align: left;
  width: 400px;
  margin: 20px auto;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
}

button {
  margin: 10px;
}

mat-spinner {
  margin: 0 auto;
}
