<div class="profile-info" *ngIf="this.isLoggedIn">
    <table>
        <tr>
            <td class="bold">
                email
            </td>
            <td>
                {{ this.email }}
            </td>
        </tr>
        <tr>
            <td class="bold">
                Street
            </td>
            <td>
                {{ this.street }}
            </td>
        </tr>
        <tr>
            <td class="bold">
                City
            </td>
            <td>
                {{ this.city }}
            </td>
        </tr>
        <tr>
            <td class="bold">
                Postal Code
            </td>
            <td>
                {{ this.postcode }}
            </td>
        </tr>
        <tr>
            <td class="bold large">
                Highest Score
            </td>
            <td>
                {{ this.highestScore }}
            </td>
        </tr>
    </table>
</div>
<div *ngIf="!this.isLoggedIn && !this.isLoading" class="profile-info">
    <br />
    This page is only visible after login!
</div>